$primary: #ef6c00;
$secondary: #283593;
$black-color: #000;
$gray-600: #d7d7d7;

// Link
$link-hover-decoration: none;

// Font
$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem;
$h1-font-size: 3.125rem;
$h2-font-size: 2.625rem;
$h3-font-size: 1.625rem;
$h4-font-size: 1.375rem;
$h5-font-size: 1.125rem;
$headings-line-height: 3.75rem;
$font-weight-base: 400;
$lead-font-size: 1.25rem;

// Buttons 
$btn-font-weight: 900;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

//Forms

$input-padding-y: 12px;
$input-padding-x: 16px;
$input-font-size: 1rem;
$input-border-radius: 3px;
$input-height: 56px;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: #b7b7b7;
$form-feedback-invalid-color: red;
$custom-select-height-lg: 56px;
$custom-select-height: 56px;
$custom-range-track-bg: $primary;
$form-feedback-icon-valid: none;
$form-feedback-icon-invalid: none;
$custom-select-bg-size:  none;
$custom-select-feedback-icon-size: none;


  $enable-flex: true;
  $enable-grid-classes: true;
  $grid-gutter-width-base: 30px;
  $grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1230px
  );
  
  $container-max-widths: (
    sm: 540px,
    md: 750px,
    lg: 960px,
    xl: 1170px
 );
  
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/bootstrap-grid";




